.pageSection {
    width: 100%;
    margin: 25px auto;
    /* padding: 20px; */
    color: #000000;
    max-width: 90%;
    font-size: 1.2em;
    line-height: 1.6em;
    box-sizing: border-box;
    /* background-color: #252525c0; */
    border-radius: 1em;
  }
  .band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  
  @media (min-width: 30em) {
    .band {
        grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 60em) {
    .band {
        grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .card {
    background: rgb(71, 81, 141);
    text-decoration: none;
    border: solid 1px #838485ad;
    color: #d0d0d0;
    box-shadow: 0 2px 5px rgba(208, 208, 208, 0.289);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
  }
  
  .card:hover {
    filter: opacity(0.6);
    top: -4px;
    box-shadow: 0 4px 5px rgba(177, 241, 238, 0.363);
  }
  
  .card article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card h1 {
    font-size: 20px;
    margin: 0;
    color: #ffffff;
  }
  
  .card p {
    flex: 1;
    line-height: 1.4;
  }
  
  .card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 0 0;
  }
  
  .card .thumb {
    padding-bottom: 60%;
    /* width: 100%; 
    height: 100%; */
    background-size: cover;
    background-position: center center;
  }
  
  @media (min-width: 60em) {
    .item-1 {
        grid-column: 1/span 2;
    }
  
    .item-1 h1 {
        font-size: 24px;
    }
  }
  