.eq-card{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    box-shadow: 0 5px 10px #00000072;
    background-color: #ffffff;
    border-radius: 0.5em;
    max-width: 100%;
    padding: 2% 3% 1% 3%;
    overflow: hidden;
}
.eq-card:hover{
    background-color: #ececec;
}

.img-container {
    position: relative;
    width: 100%;
    aspect-ratio: 4/3;
    overflow: hidden;

}
.img-container > .pic {
    position: absolute;
    left: 0;
    right:0;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.img-info{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    background-color: rgba(58, 58, 58, 0.633);
    color: #fff;
    transform: translate(0%,100%) scale(0.95) ;
    transition: 0.5s;
}
.info-icon{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 4%;
    margin: 1%;
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;
    transform: scale(0);    
}
.show-info{
    position: sticky;
    cursor:pointer;
    top: 0;
    border: none;
    padding-block: 0;
    padding-inline: 0;
    border-width: 0;
    width: 100%;
    height: 2em;
    margin: 0;
    padding: 0;
    background-color: #ffffff00;
}

.img-info .arrow{
    position: relative;
}
.img-info .arrow:after,
.img-info .arrow:before{
    content: "";
    position: absolute;
    right:50%;
    top:50%;
    width: 2em;
    height: 0.3em;
    background-color: #f6f6f6;
    transition: 0.2s ease transform;
}
.img-info .arrow:after{
    transform: rotate(-45deg);
}
.img-info .arrow:before{
    transform: translateX(1.2em) rotate(45deg);
}
.arrow.active:after{
    transform: rotate(45deg);
}
.arrow.active:before{
    transform: translateX(1.2em) rotate(-45deg);
}
.show-info:hover .arrow:after,
.show-info:hover .arrow:before {
    background-color: rgb(154, 154, 154);
}
.eq-info{
    padding: 0 2%;
}
.eq-card:hover .img-info{
    transform: translate(0%,80%) scale(0.9);
}
.eq-card:hover .info-icon{
    transform: scale(1);
}
.info-icon.active{
    transform: scale(0) !important;
}
.img-info.active{
    transform: none !important;
}
