@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Varela+Round&display=swap');

.ctr-1 {
  height: fit-content;
  width: 70%;
  background: #ffffff;
  margin: 0 auto;
  padding: 3% 5%;
  color: #111111;
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
  transform: translateY(-5vh);
}

.quote {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: larger;
  color: #868686;
  font-weight: normal;
  border-bottom-color: black;
  border-top-color: rgba(255, 255, 255, 0);
  border-right-color: rgba(255, 255, 255, 0);
  border-left-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 2px;
  padding-bottom: 20px;
}

.Research > h4 {
  font-family: "Roboto";
}
.Research > p {
  font-size: 1em;
  font-weight: 500;
  line-height: 100%;
  font-family: "Gill Sans", sans-serif;
}
.Research > h2 {
  margin: .83em 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ff4805;
}
.Research > ul {
  list-style-type: none;
}
.Research > ul > li {
  font-family: monospace;
  font-size: 1.2em;
  padding-left: 1em;
  text-indent: -1em;
}.Research > ul > li::before {
  content: '• ';
  color: black;
  padding-right: 0.5em;
}.Research ul li:nth-child(even) {
  background-color: rgba(229, 238, 243, 0.845);
}
