
.container{
    padding-bottom: 100px;
    position: relative;
}

.container > h2{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    color: black;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
    
}


.container .box-container{
    padding: 0 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 0.33fr));  
    gap:15px;
    position: relative;
    justify-content: space-around;
}


@media (max-width:768px){
    .container{
        padding:20px;
    }
}