.head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35dvh;
    width: 100%;
}

.head-background {
    position: absolute;
    left: 0;
    height: 35%;
    width: 100%;
    filter: brightness(40%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.head h1 {
    margin: 0;
    background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #ffffff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 15vh;
    line-height: 1.2em;
    animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}

.content {
    min-height: 50vh;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(154, 154, 154);
}

@media only screen and (max-width: 768px) {
    .head h1 {
        font-size: 16vw;
    }
}

@keyframes reveal {
    80% {
        letter-spacing: 8px;
    }

    100% {
        background-size: 300% 300%;
    }
}

@keyframes glow {
    40% {
        text-shadow: 0 0 8px #fff;
    }
}