@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


.container{
    width: 80%;
    margin: 5vh auto;
}
.container h1{
    color: #ff4805;
}

.container a {
    text-decoration: none;
}

.container ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 2%;
}

.container ul li { 
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2em;
    padding-left: 1em;
    text-indent: -1em;
}

.container ul li::before {
    content: '• ';
    color: black;
    padding-right: 0.5em;
}

.container ul li:nth-child(even) {
    background-color: #e5eef3d7;
}